extends layout

block content
  div.row
    div.page-header
      h1.text-center My Topics Challenge
  div.row
    div.col-xs-12.col-sm-9.col-md-9.col-lg-9
      div#word-cloud
    div.col-xs-12.col-sm-3.col-md-3.col-lg-3
      div#start-info
        h3 Click on a word to read detailed information about it!
      div#metadata.panel.panel-info
        div.panel-heading
          h5 Information on topic
            h4#word-label(data-binding="MetaData-label")
        div.panel-body
          h4 Total mentions: 
            span#word-volume(data-binding="MetaData-volume")
          p Positive mentions: 
            span#word-sentiment-positive.label.label-success(data-binding="MetaData-positive")
          p Neutral mentions: 
            span#word-sentiment-neutral.label.label-default(data-binding="MetaData-neutral")
          p Negative mentions: 
            span#word-sentiment-negative.label.label-danger(data-binding="MetaData-negative")