.text-size-1 {
  font-size: 0.8em;
}
.text-size-2 {
  font-size: 1.6em;
}
.text-size-3 {
  font-size: 2.4em;
}
.text-size-4 {
  font-size: 3.2em;
}
.text-size-5 {
  font-size: 4em;
}
.text-size-6 {
  font-size: 4.8em;
}
.cloud-row {
  clear: both;
}
.word {
  float: left;
  display: block;
}
.word:hover {
  cursor: pointer;
  text-decoration: underline;
}
.word:active {
  text-decoration: underline;
}
.red {
  color: #d9534f;
}
.green {
  color: #5cb85c;
}
.gray {
  color: #777;
}
.panel-info {
  border-color: #080808;
}
.panel-info > .panel-heading {
  color: #fff;
  background-color: #222;
  border-color: #080808;
}
#metadata {
  display: none;
}
